@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%22");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%22");


:root {
  --fonteNotoSans: 'Noto Sans', sans-serif;
  --fontePoppins: 'Poppins', sans-serif;
  --letterSpacingPadrao: -0.035em;
}


.Everyone {
  font-family: var(--fonteNotoSans);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.035em;
  text-align: left;
  color: #333333;
  text-indent: 10px;

  height: 39.15px;
  width: 209.94px;
  border-radius: 8px;
  background-color: white;
  display: flex; 
  align-items: center;
}
.Everyone:hover{
  background-color: #F2F2F2;
}

