@charset "UTF-8";

/*Fonte Noto-Sans*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Fonte Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fontenotosans: 'Noto Sans', sans-serif;
    --fontepoppins: 'Poppins', sans-serif;
}

.cardperfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 18vh;
}

.imagemcapa {
    width: 100vw;
    height: 294px;
}

.imagemcapa > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.infobar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 14vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

.infobar > .botao-azul {
    margin-right: 1.5vw;
}

.userdisplay {
    background-color: white;
    border-radius: 10px;
    width: 74.5vw;
    height: 163px;
    position: absolute;
    top: 82%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.274);
}

.imagemperfil {
    position: absolute;
    margin-left: 2vw;
    top: -30%;
    background-color: gray;
    border-radius: 8px;
    width: 10.5vw;
    height: 10.5vw;
}

.imagemperfil > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.pessoalinfo {
    display: flex;
    align-items: center;
    margin: 0;
}

.pessoalinfo > p {
    margin-right: 2vw;
}

.nomeuser {
    font-family: var(--fontepoppins);
    font-weight: 600;
    font-size: 24px;
}

.followinguser {
    font-family: var(--fontepoppins);
    font-size: 12px;
    color: #828282;
}

.followinguser > span {
    font-weight: 600;
    color: black;
}

.followersuser {
    font-family: var(--fontepoppins);
    font-size: 12px;
    color: #828282;
}

.followersuser > span {
    font-weight: 600;
    color: black;
}

.description {
    margin-left: 14vw;
    width: 29.6vw;
    position: absolute;
    padding-top: 5px;
    
}

.description > p {
    color: #828282;
    font-size: 18px;
    margin-top: -7px;
}
