@media (min-width: 1025px) {
    .principalExplore {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 74.5vw;
        height: fit-content;
        gap: 0 1.2rem;
        margin: auto;
        margin-top: 6vh;
    }
    
    .menuPrincipalExplore > .tweet, .menuPrincipalExplore > .search {
        margin-bottom: 3vh;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .principalExplore {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 74.5vw;
        height: fit-content;
        gap: 0 1.2rem;
        margin: auto;
        margin-top: 6vh;
    }
    
    .menuPrincipalExplore > .tweet, .menuPrincipalExplore > .search {
        margin-bottom: 3vh;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .principalExplore {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 74.5vw;
        height: fit-content;
        gap: 0 1.2rem;
        margin: auto;
        margin-top: 6vh;
    }
    
    .menuPrincipalExplore > .tweet, .menuPrincipalExplore > .search {
        margin-bottom: 3vh;
    }
}

@media (max-width: 480px) {
    .principalExplore {
        /* display: grid;
        grid-template-columns: 1fr 2fr; */
        width: 90vw;
        height: fit-content;
        /* gap: 0 1.2rem; */
        margin: auto;
        margin-top: 6vh;
    }
    
    .menuPrincipalExplore > .tweet, .menuPrincipalExplore > .search {
        margin-bottom: 3vh;
    }
}
