@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%22");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%22");


:root {
  --fonteNotoSans: 'Noto Sans', sans-serif;
  --fontePoppins: 'Poppins', sans-serif;
  --letterSpacingPadrao: -0.035em;
}

@media (min-width: 1025px) {
  .HashSegui {
    font-family: Noto Sans;
    font-size: 95%;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.035em;
    text-align: left;
    margin-bottom: 1.8em;
    cursor: pointer;
  }
  
  
  .Hashtag {
    font-family: var(--fontePoppins);
    color:  #333333;
  }
  
  .Seguidores {
    font-family: var(--fonteNotoSans);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.035em;
    text-align: left;
    color: #828282;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .HashSegui {
    font-family: Noto Sans;
    font-size: 95%;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.035em;
    text-align: left;
    margin-bottom: 1.8em;
    cursor: pointer;
  }
  
  
  .Hashtag {
    font-family: var(--fontePoppins);
    color:  #333333;
  }
  
  .Seguidores {
    font-family: var(--fonteNotoSans);
    font-size: 80%;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.035em;
    text-align: left;
    color: #828282;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .HashSegui {
    font-family: Noto Sans;
    font-size: 80%;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.035em;
    text-align: left;
    margin-bottom: 1.8em;
    cursor: pointer;
  }
  
  .Hashtag {
    font-family: var(--fontePoppins);
    color:  #333333;
  }
  
  .Seguidores {
    font-family: var(--fonteNotoSans);
    font-size: 80%;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.035em;
    text-align: left;
    color: #828282;
  }
}

@media (max-width: 480px) {
  .HashSegui {
    display: none;
  }
  
  .Hashtag {
    display: none;
  }
  
  .Seguidores {
    display: none;
  }
}
