@charset "UTF-8";

/*Fonte Noto-Sans*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fontenotosans: 'Noto Sans', sans-serif;
}

@media (min-width: 1025px) {
    .menuperfil {
        width: 12vw;
        height: 28vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border-radius: 12px;
        border: 1px solid #E0E0E0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
        padding: 10px;
    }
    
    .cardmenu {
        list-style: none;
        background-color: white;
        width: 11vw;
        height: 5vh;
        border-radius: 8px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 10px;
        font-family: var(--fontenotosans);
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
    }
    
    .cardmenu:hover{
        background-color: #F2F2F2;
    }
    .iconemenu {
        display: flex;
        align-items: center;
        font-size: 16px;
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }
    
    .red {
        color: #EB5757;
    }
    
    .gray {
        color: #4F4F4F;
    }
    
    .black > .iconemenu {
        color: #333333;
    }
    
    .black > p{
        color: #4F4F4F;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .menuperfil {
        width: 24vw;
        height: 26vw;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border-radius: 12px;
        border: 1px solid #E0E0E0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
        padding: 10px;
    }
    
    .cardmenu {
        list-style: none;
        background-color: white;
        width: 22vw;
        height: 5vh;
        border-radius: 8px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 10px;
        font-family: var(--fontenotosans);
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
    }
    
    .cardmenu:hover{
        background-color: #F2F2F2;
    }
    .iconemenu {
        display: flex;
        align-items: center;
        font-size: 16px;
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }
    
    .red {
        color: #EB5757;
    }
    
    .gray {
        color: #4F4F4F;
    }
    
    .black > .iconemenu {
        color: #333333;
    }
    
    .black > p{
        color: #4F4F4F;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .menuperfil {
        width: 22vw;
        height: 24vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border-radius: 12px;
        border: 1px solid #E0E0E0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
        padding: 10px;
    }
    
    .cardmenu {
        list-style: none;
        background-color: white;
        width: 20vw;
        height: 5vh;
        border-radius: 8px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 10px;
        font-family: var(--fontenotosans);
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
    }
    
    .cardmenu:hover{
        background-color: #F2F2F2;
    }
    .iconemenu {
        display: flex;
        align-items: center;
        font-size: 16px;
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }
    
    .red {
        color: #EB5757;
    }
    
    .gray {
        color: #4F4F4F;
    }
    
    .black > .iconemenu {
        color: #333333;
    }
    
    .black > p{
        color: #4F4F4F;
    }
}

@media (max-width: 480px) {
    .menuperfil {
        width: 50vw;
        height: 60vw;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border-radius: 12px;
        border: 1px solid #E0E0E0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
        padding: 10px;
    }
    
    .cardmenu {
        list-style: none;
        background-color: white;
        width: 48vw;
        height: 5vh;
        border-radius: 8px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 10px;
        font-family: var(--fontenotosans);
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
    }
    
    .cardmenu:hover{
        background-color: #F2F2F2;
    }
    .iconemenu {
        display: flex;
        align-items: center;
        font-size: 16px;
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }
    
    .red {
        color: #EB5757;
    }
    
    .gray {
        color: #4F4F4F;
    }
    
    .black > .iconemenu {
        color: #333333;
    }
    
    .black > p{
        color: #4F4F4F;
    }
}