.corpo-principal {
    width: 74.5vw;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0 20px;
    padding-bottom: 8vh;
}

.tweet-tamanho > .tweet {
    margin-bottom: 3vh;
}

header {
    margin-bottom: 0;
}