@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%22");

:root {
  --fontePoppins: 'Poppins', sans-serif;
  --letterSpacingPadrao: -0.035em;
}

@media (min-width: 1025px) {
  hr{
    background-color:#E0E0E0;
    margin-bottom: 1.25em;
  }
  
  .trends{
    font-family: var(--fontePoppins);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.035em;
    text-align: left;
    color:  #4F4F4F;
    margin: 0;
      
  }
  
  .container{
    text-align: left;
    width: 100%;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 4%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    background-color:  #FFFFFF;
    
  }  
}

@media (min-width: 769px) and (max-width: 1024px) {
  hr{
    background-color:#E0E0E0;
    margin-bottom: 1.25em;
  }
  
  .trends{
    font-family: var(--fontePoppins);
    font-size: 70%;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.035em;
    text-align: left;
    color:  #4F4F4F;
    margin: 0;
  }
  
  .container{
    text-align: left;
    width: 100%;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 4%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    background-color:  #FFFFFF;
  }  
}

@media (min-width: 481px) and (max-width: 768px) {
  hr{
    background-color:#E0E0E0;
    margin-bottom: 1.25em;
  }
  
  .trends{
    font-family: var(--fontePoppins);
    font-size: 70%;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.035em;
    text-align: left;
    color:  #4F4F4F;
    margin: 0;
  }
  
  .container{
    text-align: left;
    width: 100%;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 4%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    background-color:  #FFFFFF;
  }  
}

@media (max-width: 480px) {
  hr{
    display: none;
  }
  
  .trends{
    display: none;
  }
  
  .container{
    display: none;
  }  
}