@charset "UTF-8";

/*Fonte Noto-Sans*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Fonte Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fontepagina: "Noto Sans", sans-serif;
  --fontepoppins: "Poppins", sans-serif;
}

.tweetar {
    width: 52vw;
    height: fit-content;
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 3vh;
}

.feeds-content{
    font-family: 'Noto Sans', sans-serif;
}

.feeds-header{
    background-color: #fff;
}
.header-top{
    font-family: var(--fontepoppins);
    display: flex;
    border-bottom: 0.1em solid #E0E0E0;
}
.header-top h4{

    font-size: 12px;
    font-weight: 600;
}

.header-img-wrapper{
    width: 50vw;
    display: flex;
    align-items: center;
}

.header-img-wrapper img{
    width: 3.8vw;
    height: 6.4vh;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 10%;
}

.bottom-part {
    font-family:'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #2F80ED;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-part button {
    font-family:'Noto Sans', sans-serif;
    font-size: 1em;
    color: #fff;
    background-color: #2F80ED;
    border-radius: 4px;
    border:none;
    width: 6em;
    height: 2em;
}

.bottom-part span {
 margin-right: 1em ;
}

.header-post{
    display: flex;
    align-items: center;
    border-bottom: 0.1em;
}

.header-post input{
    font-family:'Noto Sans', sans-serif;
    font-size: 1.6em;
    height: 10vh;
    border: none;
}

.everyonecanreply {
    display: flex;
    align-items: center;
    width: fit-content;
}

.area-icone-tweetar {
    display: flex;
    align-items: center;
    margin-left: 4.5vw;
}