.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.follow-list * {
  padding: 0;
  margin: 0;
}

.botao-azul {
  padding-left: 22px;
  padding-right: 22px;
}

.follow-list {
  --max-width: 940px;
  --container-padding: 2.25rem;

  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding-left: 22px;
  padding-right: 25px;
  padding-top: 20px;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
}

.follow-list-header {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
}

.close-button i {
  color: #000;
}

.follow-list h2,
.follow-list h3 {
  font-family: var(--fontepoppins);
}

.profile {
  --gap: 2.25em;
  list-style: none;
  border-top: 1px solid #e0e0e0;
  margin-top: 0.5em;
  padding-top: var(--gap);
}

.profile-header {
  display: flex;
  align-items: stretch;
  gap: 2em;
}

.profile-thumbnail {
  height: 3.8em;
  width: 3.8em;
  border-radius: 8px;
  object-fit: cover;
}

.profile-info {
  flex-grow: 1;
}

.profile-bio,
.profile-info p {
  color: #828282;
}

.profile-bio {
  padding-top: var(--gap);
  padding-bottom: var(--gap);
}

@media (max-width: 40em) {
  .follow-list {
    font-size: 0.75rem;
  }
}
